table, th, tr, td{
    text-align: center;
    border: 1px solid gainsboro;
    margin-bottom: 10px;
    border-collapse: collapse;
    caption-side: top;
}
caption{
    caption-side: top;
    text-align: center;
}
div.field > label{
    width: 20%;
    text-align: center;
}
div.field{
    width: 60%;
    text-align: center;
}
.container{
    margin-top: 20px;
}
.table, .table th, .table tr, .table td {
    text-align: center;
    border: 1px solid gainsboro;
    margin-bottom: 10px;
    border-collapse: collapse;
    caption-side: top;
}
.btn{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
}
.tabla, .tabla th, .tabla tr, .tabla td{
    text-align: center;
    border: 1px solid gainsboro;
    margin-bottom: 10px;
    border-collapse: collapse;
    caption-side: top;
}
.cabecera{
    background-color: gray;
    border-bottom-width: 3px;
    border-color: black;
}
.tercero{
    background-color: gainsboro;
}